@model IEnumerable<Group7WebApp.Areas.Identity.Data.WebAppUser>
@using Group7WebApp.Helpers
@inject Group7WebApp.Helpers.Interface.IAuthorizationMiddlewareService authorizeService

@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="conatiner p-3">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2 class="text-white"> Contacts</h2>

        </div>
        @if (await authorizeService.Authorize(Priviledge.Create, null))
        {
            <div class="col-6">

                <a asp-action="Create" style="float:right"> Create New </a>

            </div>
        }


    </div>

    <partial name="Notification" />
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.FirtName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                @* <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>*@

                <th>@Html.DisplayNameFor(model => model.Address)</th>

                <th>@Html.DisplayNameFor(model => model.City)</th>

                <th>@Html.DisplayNameFor(model => model.State)</th>

                <th>@Html.DisplayNameFor(model => model.Zip)</th>
                <th>@Html.DisplayNameFor(model => model.Role)</th>


                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.FirtName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @*  <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>*@
                    <td>@Html.DisplayFor(model => item.Address)</td>

                    <td>@Html.DisplayFor(model => item.City)</td>

                    <td>@Html.DisplayFor(model => item.State)</td>

                    <td>@Html.DisplayFor(model => item.Zip)</td>
                    <td>@Html.DisplayFor(model => item.Role)</td>
                    <td>@Html.DisplayFor(model => item.Status)</td>
                    <td>
                        <div class="w-75 btn-group " role="group">
                            @if (await authorizeService.Authorize(Priviledge.Edit, item))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil-square text-info"></i> </a>
                            }
                            <a asp-action="Details" asp-route-id="@item.Id" class="px-2"><i class="bi bi-eye text-success"></i></a>
                            @if (await authorizeService.Authorize(Priviledge.Delete, item))
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3 text-danger-emphasis"></i></a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>