@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}



<div class="conatiner p-3">
    <div class="row pt-4 pb-2">
       <div class="col-6" >
        <h2 class="text-white"> Category List</h2> 
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class=" btn btn-outline-secondary ">
                <i class="bi bi-plus-square"></i> &nbsp;
                  Create New Category</a>
        </div>

    </div>
     
    <partial name="Notification" />

<table class="table table-striped">
    <thead>

        <tr>
           
            <th scope="col">Category Name</th>
            <th scope="col">Display Order</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
            {
                <tr>
                  
                    <td>@obj.Name</td>
                    <td>@obj.Code</td>
                    <td>@obj.DateCreate</td>
                    <td>
                        <div class="w-75 btn-group " role="group">
                            <a asp-controller="Category" asp-action="Detail" asp-route-id="@obj.Id"><i class="bi bi-eye text-success"></i> </a>
                            &nbsp; &nbsp; &nbsp;
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">
                                <i class="bi bi-pencil-square text-info"></i> </a>
                            &nbsp; &nbsp; &nbsp;
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash3 text-danger-emphasis"></i> </a>
                        </div>
                    </td>
               </tr>
        }
            
       
       
    </tbody>
</table>
</div>